# Database Configuration
POSTGRES_USER=admin-user
POSTGRES_PASSWORD=password
POSTGRES_DB=cinema_db
POSTGRES_PORT=5432

# Redis Configuration
REDIS_PASSWORD=password
REDIS_PORT=6379

# Application Configuration
APP_ENV=production

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=user=admin-user password=password host=127.0.0.1 port=5432 dbname=postgres_seat_reservation_db sslmode=disable
GOOSE_MIGRATION_DIR=./internal/adapters/postgre/migrations