# Database Configuration
POSTGRES_USER=admin-user
POSTGRES_PASSWORD=password
POSTGRES_DB=cinema_db
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

# Redis Configuration
REDIS_PASSWORD=password
REDIS_PORT=6379

# Application Configuration
APP_ENV=development

# Goose Migration Configuration
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=user=admin-user password=password host=localhost port=5432 dbname=cinema_db sslmode=disable
GOOSE_MIGRATION_DIR=./sql/migrations